.formulario {
    background-image: url(../imagenes/BANNER_formulario.jpg);
    background-size: cover;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;

    .formul {
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
        width: 100%;

        .form-principal {
            background-size: cover;
            display: flex;
            width: 100%;
            flex-flow: column nowrap;
            margin-top: 10px;

            .input {
                width: 50%;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            button {
                color: white;
                margin-top: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: auto;
                width: 70px;
                text-align: center;
                justify-content: center;
                background-color: orangered;
                align-items: center;
            }
            button:hover{
                background-color: grey;
            }
        }
    }

}

.banner {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}


/*Formulario Final*/


.form--final {
    background-image: url(../imagenes/BANNER_formulario.jpg);
    background-size: cover;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    height: 600px;


   

    p {
        strong {
            color: white;
        }
    }

    .input {
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .formul-final {
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
        width: 100%;




        button {
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: auto;
            width: 70px;
            text-align: center;
            justify-content: center;
            background-color: orangered;
            align-items: center;
        }

    }


}

.btn button:hover{
    background-color: grey;
}

@media screen and (min-width: 700px) {
    .formulario {
        background-image: url(../imagenes/BANNERSNUEVO-10.png);
    }
}


@media screen and (min-width: 900px) {

.formul-final{
    .form--final{
    .titulo-form-final{
        font-size: 26px;
    }
}
}
    .formulario {
        .formul {
            justify-content: flex-end;
            text-align: right;

            .form-principal {
                width: 800px;
                padding-right: 100px;
                justify-content: flex-end;
                text-align: right;
                .titulo-form {
                    justify-content: flex-end;
                    padding-right: 50px;
                    font-size: 26px;
                    padding-left: 0px;
                    background-color: white;
                }

                
                .btn{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    text-align: center;
                    margin-right: 63px;
                }

            }
        }
    }
}