* {
    padding: 0%;
    margin: 0%;
}


/*contenedor*/
body {
    font-family: 'Open Sans', sans-serif;
    color: grey;
    min-height: 100vh;
}

/*Texto*/
.texto {
    height: 570px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 10%;

    p,
    h2 {
        line-height: 1.5em;
        width: 50vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
/*Img principal*/
.banner{
    .img-baner{
    width: 320px;
    height: 400px;
}
}
/*recuadros*/
.recuadros {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/BANNER_FONDO.jpg);
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 1300px;

    .c3 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 300px;
        text-align: center;
        padding-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: white;
        padding-bottom: 10px;
        border: solid 0.5px orangered;
        border-radius: 2%;
        margin-top: 5px;

        button {
            background-color: orangered;
            width: 150px;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 30px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}
.img--c3 {
    height: 220px;
    width: 220px;
}
.img--c3:hover{
    transform: scale(1.3);
    transition: 1.5s;
}

.c3 button:hover{
    background-color: grey;
}

@media screen and (min-width: 480px) {
.img-baner{
    display: none;
}
}

@media screen and (min-width: 700px) {
   
    .recuadros {
        flex-flow: row nowrap;
        justify-content: space-around;
        height: 500px;
        width: 100%;
        .c3 {
            justify-content: space-around;
            height: 400px;
            width: 320px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

@media screen and (min-width: 900px) {
    .recuadros {
        height: 600px;
        .c3 {
            height: 450px;
        }
    }

    .img--c3 {
        height: 250px;
        width: 250px;
    }




}