@import "fuentes";
@import "general";
@import "footer";
@import "formularios";
@import "header";


/*Organizar contenido*/
section div {
    padding-top: 25px;
    padding-bottom: 15px;
}

section {
    background-color: white;
    min-height: 100vh;
    margin: 0;
}

strong {
    color: black;
}

.imagen-central {
    margin-top: 40px;
    text-align: center;
}

@media screen and (min-width: 480px) {
    .imagen-central {
        display: none;
    }
}
   


    @media screen and (min-width: 700px) {
        /*Formulario */

        .formul button {
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: auto;
            width: 70px;
            text-align: center;
            justify-content: center;
            background-color: orangered;
            align-items: center;
        }

        .banner {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
        }
    }