@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@font-face {
  font-family: citroenReg;
  src: url(../fuentes/Citroen_Regular.ttf); }

* {
  padding: 0%;
  margin: 0%; }

/*contenedor*/
body {
  color: grey;
  min-height: 100vh;
  font-family: citroenReg; }

.cuotas h2 {
  text-align: center;
  font-size: 20px;
  padding-top: 20px; }

.cuotas {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 40px;
  font-family: citroenReg;
  font-size: 20px; }
  .cuotas .iconos {
    height: 850px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 20px; }
    .cuotas .iconos .icon-img {
      flex-flow: column nowrap;
      text-align: center; }
      .cuotas .iconos .icon-img img {
        height: 100px;
        width: 100px; }
      .cuotas .iconos .icon-img p {
        padding-top: 20px; }

/*Texto*/
.texto {
  height: 600px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 25px;
  font-family: citroenReg; }
  .texto .planes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%; }
    .texto .planes .plan {
      display: flex;
      flex-flow: column nowrap;
      border: solid 1px orangered;
      height: 400px;
      width: 320px;
      text-align: center; }
      .texto .planes .plan p {
        padding-top: 10px;
        text-align: center;
        width: 100%; }
  .texto p,
  .texto h2 {
    line-height: 1.5em;
    width: 50vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }

/*Img principal*/
.banner .img-baner {
  width: 320px;
  height: 400px; }

/*recuadros*/
.recuadros {
  font-family: citroenReg;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/BANNER_FONDO.jpg);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: 1400px; }
  .recuadros h3 {
    margin-top: 5px;
    padding-top: 5px; }
  .recuadros .c3 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 300px;
    text-align: center;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding-bottom: 10px;
    border: solid 0.5px orangered;
    border-radius: 2%;
    margin-top: 5px; }
    .recuadros .c3 button {
      background-color: orangered;
      width: 150px;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 30px; }
      .recuadros .c3 button a {
        text-decoration: none;
        color: white; }

.img--c3 {
  padding-top: 10px;
  height: 220px;
  width: 220px; }

.img--c3:hover {
  transform: scale(1.05);
  transition: 1.5s; }

.c3 button:hover {
  background-color: grey; }

@media screen and (min-width: 480px) {
  .img-baner {
    display: none; } }

@media screen and (min-width: 780px) {
  .recuadros {
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 600px;
    width: 100%; }
    .recuadros .c3 {
      justify-content: space-around;
      height: 500px;
      width: 320px;
      margin-left: 5px;
      margin-right: 5px; }
  .cuotas h2 {
    font-size: 32px;
    padding-top: 30px; }
  .cuotas .iconos {
    flex-flow: row nowrap;
    height: 350px;
    justify-content: space-around;
    padding-top: 80px; }
  .cuotas .icon-img img {
    height: 100px;
    width: 100px; } }

@media screen and (min-width: 900px) {
  .img--c3 {
    height: 250px;
    width: 250px; } }

@media screen and (max-width: 965px) {
  .texto {
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: 1000px; } }

@media screen and (max-width: 780px) {
  .texto {
    display: none; } }

/*footer*/
footer {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1em;
  bottom: 0;
  margin-top: auto;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  color: orangered;
  font-family: citroenReg;
  font-size: 18px; }
  footer .pie {
    bottom: 0;
    margin-bottom: 0px;
    margin-top: auto;
    padding-top: 25vh;
    text-align: right; }
    footer .pie strong {
      color: #c9c5c5; }
  footer .sucursales {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    footer .sucursales a {
      color: orangered;
      text-decoration: none;
      text-align: center;
      justify-content: center;
      align-items: center; }
  footer .mapa {
    margin-top: 40px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    align-items: center; }
  footer iframe {
    width: 250px;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center; }

.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .redes .icons {
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center; }
    .redes .icons .phone {
      display: flex;
      flex-direction: column;
      margin-left: 25px; }
      .redes .icons .phone a {
        color: orangered; }
        .redes .icons .phone a i {
          height: 15px; }
    .redes .icons .icon--list {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center; }
      .redes .icons .icon--list ul {
        flex-direction: row;
        justify-content: center; }
        .redes .icons .icon--list ul li {
          list-style: none;
          padding-right: 20px;
          display: flex;
          flex-direction: row; }
          .redes .icons .icon--list ul li a {
            color: orangered; }
            .redes .icons .icon--list ul li a i {
              height: 15px; }

.phone a:hover {
  transform: scale(1.3);
  transition: 1s; }

.icon--list li a:hover {
  transform: scale(1.3);
  transition: 1s; }

@media screen and (min-width: 820px) {
  footer .pie {
    padding-top: 30vh; }
  footer .redes {
    flex-direction: row;
    justify-content: space-evenly; }
    footer .redes .icons .phone {
      text-align: center; }
    footer .redes .icons .icon--list {
      display: flex;
      flex-direction: row; }
      footer .redes .icons .icon--list li {
        padding-right: 20px; }
  footer .sucursales {
    flex-flow: row nowrap;
    padding-top: 10vh;
    justify-content: space-evenly; } }

.formulario {
  font-family: citroenReg;
  background-image: url(../imagenes/BANNER_formulario.jpg);
  background-size: cover;
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: center; }
  .formulario .formul {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 100%; }
    .formulario .formul .form-principal {
      background-size: cover;
      display: flex;
      width: 100%;
      flex-flow: column nowrap;
      margin-top: 10px; }
      .formulario .formul .form-principal .input {
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px; }
      .formulario .formul .form-principal button {
        color: white;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: auto;
        width: 70px;
        text-align: center;
        justify-content: center;
        background-color: orangered;
        align-items: center; }
      .formulario .formul .form-principal button:hover {
        background-color: grey; }

.banner {
  display: flex;
  flex-flow: row wrap;
  width: 100%; }

/*Formulario Final*/
.form--final {
  font-family: citroenReg;
  background-image: url(../imagenes/BANNER_formulario.jpg);
  background-size: cover;
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  height: 600px; }
  .form--final p strong {
    color: white; }
  .form--final .input {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px; }
  .form--final .formul-final {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 100%; }
    .form--final .formul-final button {
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: auto;
      width: 70px;
      text-align: center;
      justify-content: center;
      background-color: orangered;
      align-items: center; }

.btn button:hover {
  background-color: grey; }

@media screen and (min-width: 700px) {
  .formulario {
    background-image: url(../imagenes/BANNERSNUEVO-10.png); } }

@media screen and (min-width: 900px) {
  .formul-final .form--final .titulo-form-final {
    font-size: 23px; }
  .formulario .formul {
    justify-content: flex-end;
    text-align: right; }
    .formulario .formul .form-principal {
      width: 800px;
      padding-right: 100px;
      justify-content: flex-end;
      text-align: right; }
      .formulario .formul .form-principal .titulo-form {
        justify-content: flex-end;
        font-size: 26px;
        padding-right: 50px;
        padding-left: 0px;
        text-align: center;
        background-color: white; }
      .formulario .formul .form-principal .btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-right: 63px; } }

@media screen and (max-width: 780px) {
  .form--final {
    display: none; } }

/*header nav*/
.fixed-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  padding: 1em;
  background: white;
  box-shadow: 1px 1px 1px grey;
  padding-left: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 80px;
  align-items: center;
  width: 100%;
  font-family: citroenReg; }
  .fixed-header .header-brand {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 80px;
    align-items: center;
    text-decoration: none; }
    .fixed-header .header-brand .logo {
      width: 150px;
      height: 65px; }

.bt {
  padding: 0.5em 1.2em 0.5em 1.2em;
  background-color: white;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-family: 'citroenbold';
  font-size: 1.1em;
  border: 2px solid #000;
  border-radius: 50px;
  margin-right: 10px; }

.bt:hover {
  color: white;
  background-color: orangered;
  border: white; }

@media screen and (min-width: 900px) {
  .fixed-header {
    height: 70px; }
    .fixed-header .header-brand {
      padding-left: 10px; }
  .bt {
    margin-right: 5px; } }

/*Organizar contenido*/
section div {
  padding-top: 25px;
  padding-bottom: 15px; }

section {
  background-color: white;
  min-height: 100vh;
  margin: 0; }

strong {
  color: black; }

.imagen-central {
  margin-top: 40px;
  text-align: center; }

@media screen and (min-width: 480px) {
  .imagen-central {
    display: none; } }
